version: 0.26.{build}

pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2017
clone_depth: 1
install:
- ps: .\install-vsix-NuGetizer3000.ps1
#- cmd: appveyor DownloadFile "https://dist.nuget.org/win-x86-commandline/v4.3.0/nuget.exe"
#- cmd: nuget restore source\nanoFramework.Tools.Debugger.sln
build_script:
- ps: >-
 
   msbuild /t:restore /t:pack source\nanoFramework.Tools.DebugLibrary.UWP\nanoFramework.Tools.DebugLibrary.UWP.csproj /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

artifacts:
- path: '**\bin\Release\*.nupkg'
  name: Nuget_Packages
deploy:
- provider: NuGet
  api_key:
    secure: NSRDXbS8tmzOy4wStGuO3yQMKI8Sk10vF8iQtz9ZDXEnHfwnuDdnXbr/Kno3MMvY
  skip_symbols: true
notifications:
- provider: Slack
  auth_token:
    secure: 2tqAJTTbN2dm24Vrwo5TXun3Vxc34R5G9l7o3pK3xEuKZAzxx3nbP2yGkMI/kl3+NxHXknjBfZnkhZC5eLYBHb+jO7YVUZwPYOfC/ZGy5HU=
  channel: '#build-monitor'
  on_build_status_changed: true
  on_build_success: false
  on_build_failure: false 
