version: 0.26.{build}

pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2017
clone_depth: 1
before_build:
#- cmd: appveyor DownloadFile "https://dist.nuget.org/win-x86-commandline/v4.3.0/nuget.exe"
- cmd: nuget restore source\nanoFramework.Tools.Debugger.sln
build_script:
- ps: >-
   msbuild source\nanoFramework.Tools.Debugger.sln /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

   msbuild /t:pack source\nanoFramework.Tools.DebugLibrary.Net\nanoFramework.Tools.DebugLibrary.Net.csproj /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

   # for some reason the build environment in AppVeyor is not being able to properly restore the Nuget packages for projects with project.json
   # leave this here to be solved later, see https://github.com/nanoframework/nf-debugger/issues/9
- cmd: msbuild /t:pack source\nanoFramework.Tools.DebugLibrary.UWP\nanoFramework.Tools.DebugLibrary.UWP.csproj /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

artifacts:
- path: '**\bin\Release\*.nupkg'
  name: Nuget_Packages
deploy:
- provider: NuGet
  api_key:
    secure: NSRDXbS8tmzOy4wStGuO3yQMKI8Sk10vF8iQtz9ZDXEnHfwnuDdnXbr/Kno3MMvY
  skip_symbols: true
notifications:
- provider: Slack
  auth_token:
    secure: 2tqAJTTbN2dm24Vrwo5TXun3Vxc34R5G9l7o3pK3xEuKZAzxx3nbP2yGkMI/kl3+NxHXknjBfZnkhZC5eLYBHb+jO7YVUZwPYOfC/ZGy5HU=
  channel: '#build-monitor'
  on_build_status_changed: true
  on_build_success: false
  on_build_failure: false 
