# configuration these branches
branches:
  only:
    - master
    - /dev.*/
    - /release.*/
  
image: Visual Studio 2017

skip_tags: false

test: off

pull_requests:
  do_not_increment_build_number: true

# Skipping commits affecting specific files
skip_commits:
  files:
  - '**\AssemblyInfo.*'
  - '**/*.md'
  - 'LICENSE'
  - dir/*
  - '.gitignore'

build:
  verbosity: minimal

environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true
  matrix:
    - RUBY_VERSION: 24
  GitHubUserName:
    secure: 7OBtVAMTodMWK20wg6pGnQ==
  GitHubUserEmail:
    secure: /NpmL1KqwHyHFnF0GlUovA586wDIt8Hg/Q8Dro6kUpk=
  GitHubToken:
    secure: i/2hGsqVMwzdM5yIS4rxOIeG3ftx7su7klWYN80s/fHvgk7A5H2fF3oUTNLcyTbw
  GitRestAuth:
    secure: E3bCMe4LtDdAhHSYRcLp0N6DixJe1m8TNxhYeJW/GnqM3WXdRqsgkHSbwootPjJQtOQJrps4twmzTVzofLSVgPgbzU8PxU0AkJV7zwkyVOE=

init:
  - git config --global core.autocrlf true
  - git config --global credential.helper store
  - ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:GitHubToken):x-oauth-basic@github.com`n"
  - git config --global user.email "%GitHubUserEmail%"
  - git config --global user.name "%GitHubUserName%"

install:
  - set PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  - bundle config --local path vendor/bundle
  - gem install bundler --quiet --no-ri --no-rdoc
  - gem install github_changelog_generator --quiet --no-ri --no-rdoc
  - choco install gitversion.portable -pre -y

before_build:
- ps: >-

    nuget restore source\nanoFramework.Tools.Debugger.sln
    
    C:\ProgramData\chocolatey\lib\GitVersion.Portable\tools\GitVersion.exe /l console /output buildserver /updateAssemblyInfo "source\Debug Library\Properties\AssemblyInfo.cs"

build_script:
- ps: >-

    msbuild source\nanoFramework.Tools.Debugger.sln /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

    msbuild /t:pack source\nanoFramework.Tools.DebugLibrary.Net\nanoFramework.Tools.DebugLibrary.Net.csproj /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

    msbuild /t:pack source\nanoFramework.Tools.DebugLibrary.UWP\nanoFramework.Tools.DebugLibrary.UWP.csproj /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

before_deploy:
  - ps:  >-
      .\commit-assemblyinfo-changes.ps1
      
      .\generate-change-log.ps1

      Push-AppveyorArtifact $env:APPVEYOR_BUILD_FOLDER\source\nanoFramework.Tools.DebugLibrary.Net\bin\Release\nanoFramework.Tools.Debugger.Net.$env:GitVersion_NuGetVersionV2.nupkg

      Push-AppveyorArtifact $env:APPVEYOR_BUILD_FOLDER\source\nanoFramework.Tools.DebugLibrary.Net\bin\Release\nanoFramework.Tools.Debugger.UWP.$env:GitVersion_NuGetVersionV2.nupkg

# requires APPVEYOR_DISCORD_WEBHOOK_URL enviroment variable set with Discord webhook URL
on_failure:
  - ps: |
  
      & $env:APPVEYOR_BUILD_FOLDER\appveyor-discord.ps1 failure $env:APPVEYOR_DISCORD_WEBHOOK_URL

cache:
  - source\packages -> **source\packages.config
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml

################################################
# override configuration for specific branches
for:

-
  branches:
    only:
      - master

  deploy:
  - provider: NuGet
    api_key: $(NuGetToken)
    skip_symbols: true
  - provider: GitHub
    tag: v$(GitVersion_NuGetVersionV2)
    release: nanoFramework Debugger Library v$(gitversion_semver)
    description: 'Check the [changelog](https://github.com/nanoframework/nf-debugger/blob/master/CHANGELOG.md)\n\n## Install from NuGet\n\nThe following NuGet packages are available for download from this release\n\n[.NET](https://www.nuget.org/packages/nanoFramework.Tools.Debugger.Net/$(GitVersion_NuGetVersionV2)) v$(GitVersion_NuGetVersionV2)\n\n:package: [UWP](https://www.nuget.org/packages/nanoFramework.Tools.Debugger.UWP/$(GitVersion_NuGetVersionV2)) v$(GitVersion_NuGetVersionV2)'
    auth_token:
      secure: DNixoFFE+pGlwyhj7McfZoln42vOmj0iY1iNV9zXEr3y0NpXlOIgL8k5ehzlFM1S
    artifact:
    draft: true
    prerelease: true
    force_update: true

-
  branches:
    only:
      - /dev.*/
  
  skip_branch_with_pr: true

  deploy:
  - provider: GitHub
    tag: v$(GitVersion_NuGetVersionV2)
    release: nanoFramework Debugger Library v$(gitversion_semver)
    description: 'Check the [changelog](https://github.com/nanoframework/nf-debugger/blob/$(appveyor_repo_branch)/CHANGELOG.md)\n\n## Install from nanoFramework MyGet development feed\n\nThe following NuGet packages are available for download from this release\n\n:package: [.NET](https://www.myget.org/feed/nanoframework-dev/package/nuget/nf-debugger/nanoFramework.Tools.Debugger.UWP/$(GitVersion_NuGetVersionV2)) v$(GitVersion_NuGetVersionV2)\n\n:package: [UWP](https://www.myget.org/feed/nanoframework-dev/package/nuget/nanoFramework.Tools.Debugger.UWP/$(GitVersion_NuGetVersionV2)) v$(GitVersion_NuGetVersionV2)'
    auth_token:
      secure: DNixoFFE+pGlwyhj7McfZoln42vOmj0iY1iNV9zXEr3y0NpXlOIgL8k5ehzlFM1S
    artifact:
    draft: true
    prerelease: true
    force_update: true

  after_deploy:
  # for this environment variable to work here it has to be set in AppVeyor UI
  - nuget push source\nanoFramework.Tools.DebugLibrary.Net\bin\Release\nanoFramework.Tools.Debugger.Net.%GitVersion_NuGetVersionV2%.nupkg %MyGetToken% -Source https://www.myget.org/F/nanoframework-dev/api/v2/package
  - nuget push source\nanoFramework.Tools.DebugLibrary.UWP\bin\Release\nanoFramework.Tools.Debugger.UWP.%GitVersion_NuGetVersionV2%.nupkg %MyGetToken% -Source https://www.myget.org/F/nanoframework-dev/api/v2/package

-
  branches:
    only:
      - /release.*/

  deploy:
  - provider: NuGet
    api_key: $(NuGetToken)
    skip_symbols: true
  - provider: GitHub
    tag: v$(GitVersion_NuGetVersionV2)
    release: nanoFramework Debugger Library v$(gitversion_semver)
    description: 'Check the [changelog](https://github.com/nanoframework/nf-debugger/blob/$(appveyor_repo_branch)/CHANGELOG.md)\n\n## Install from NuGet\n\nThe following NuGet packages are available for download from this release\n\n[.NET](https://www.nuget.org/packages/nanoFramework.Tools.Debugger.Net/$(GitVersion_NuGetVersionV2)) v$(GitVersion_NuGetVersionV2)\n\n:package: [UWP](https://www.nuget.org/packages/nanoFramework.Tools.Debugger.UWP/$(GitVersion_NuGetVersionV2)) v$(GitVersion_NuGetVersionV2)'
    auth_token:
      secure: DNixoFFE+pGlwyhj7McfZoln42vOmj0iY1iNV9zXEr3y0NpXlOIgL8k5ehzlFM1S
    artifact:
    draft: true
    prerelease: true
    force_update: true
